<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gym?useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Amsterdam&amp;useSSL=false</property>
		<property name="hibernate.connection.username">roman</property>
		<property name="hibernate.connection.password">admin</property>
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<mapping class="ua.lviv.iot.model.entity.Salary" />
		<mapping class="ua.lviv.iot.model.entity.Abonement" />
		<mapping class="ua.lviv.iot.model.entity.Exercise" />
		<mapping class="ua.lviv.iot.model.entity.ExerciseDay" />
		<mapping class="ua.lviv.iot.model.entity.ExerciseProgram" />
		<mapping class="ua.lviv.iot.model.entity.ExerciseSchedule" />
		<mapping class="ua.lviv.iot.model.entity.Person" />
		<mapping class="ua.lviv.iot.model.entity.Trainer" />
		<mapping class="ua.lviv.iot.model.entity.User" />
	</session-factory>
</hibernate-configuration>